body {
  font-family: 'Pavanam', sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #737f8a;
}
/*Footer*/
.footLi{
  font-size: 30px;
  display: inline;
}
.footUl{
  text-align: center;
}

/*Parallax*/
/* The image used */
.container{
  background-image: url('images/bg_footwear.jpg');

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*css Collapse*/
.detail{
  font-style: italic;
  font-size: 0.9em;
}
.brandText {
  font-family: 'Black Ops One', cursive;
}

/* style info cart*/
#qty_cart{
  font-weight: bold;
}
.fa-shopping-basket{
  color : white;
}

/*CARDS STYLING*/
.eshopcardstyle {
  text-align: center;
  margin-bottom: 20px;
}

.eshopcardstyle h4 {
  font-size: 90%;
  font-weight: bold;
}

.cardlinks {
  color: #000000;
}

.cardlinks:hover {
  text-decoration: none;
  color: #000000;
}

.card-img-top {
  height: auto;
  width: auto;
}

.nous {
  background-color: pink;
  padding-top: 100px;
  padding-bottom: 20px;
}
.boutique {
  padding-top: 100px;
}

/*Icon a coté de ShoesAddicted */
#ShoesAddictedIcon {
  width: 40px;
  padding-bottom: 25px;
}

.refProd {
  font-size: small;
  font-style: italic;
  color: darkgrey;
}

.price {
  font-weight: bold
}

/*--------------- Modal--------------- */

#tblGrid{
  font-size: 0.8em;
  margin: auto;
}
.qty{
  width: 4em;
}
.choice{
  display: none;
}

#update_message{
  color : orange;
}

.trash{
  display: inline;
}

.badge {
  background-color: grey;
}
