body {
  font-family: 'Pavanam', sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  background-color: blue;
}
/*css Collapse*/
.detail{
  font-style: italic;
  font-size: 0.9em;
}
.brandText {
  font-family: 'Black Ops One', cursive;
}

/*CARDS STYLING*/
.eshopcardstyle {
  text-align: center;
  margin-bottom: 20px;
}

.eshopcardstyle h4 {
  font-size: 90%;
  font-weight: bold;
}

.cardlinks {
  color: #000000;
}

.cardlinks:hover {
  text-decoration: none;
  color: #000000;
}

.card-img-top {
  height: auto;
  width: auto;
}

.nous {
  background-color: pink;
  padding-top: 100px;
}
.boutique {
  background-color: purple;
  padding-top: 100px;
}

/*Icon a coté de ShoesAddicted */
#ShoesAddictedIcon {
  width: 40px;
  padding-bottom: 25px;
}

/*--------------- Modal--------------- */

#tblGrid{
  font-size: 0.8em;
  margin: auto;
}
.qty{
  width: 4em;
}
.choice{
  display: none;
}

#update_message{
  color : orange;
}

.trash{
  display: inline;
}

.badge {
  background-color: grey;
}
