body {
  font-family: 'Denk One', sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

/*CARDS STYLING*/
.eshopcardstyle {
  text-align: center;
  margin-bottom: 20px;
}

.eshopcardstyle h4 {
  font-size: 110%;
  font-weight: bold;
}

.cardlinks {
  color: #000000;
}

.cardlinks:hover {
  text-decoration: none;
  color: #000000;
}

.card-img-top {
  height: 444.25px;
  width: 444.25px;
}

.Nous {
  margin: 50px;
}
